html {
	height: 100%;
	width: 100%;
}

body {
	/* background-color: rgb(200, 254, 200); */
	/* https://images.unsplash.com/photo-1617957718645-7680362d6312?q=80&w=2064&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D */
	/* https://www.casinosupply.com/cdn/shop/products/DSCF7808_5000x.jpg?v=1619810373 */
	/* background-image: url(https://images.unsplash.com/photo-1617957718645-7680362d6312?q=80&w=2064&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
	/* background-image: linear-gradient(to right, rgb(0, 24, 5), rgb(0, 74, 32)); */
	background-image: radial-gradient(circle at center, rgb(0, 107, 47), rgb(1, 32, 7));
	display: grid;
	font-family: 'BR Shape', Lato, serif;
	color: rgb(255, 255, 255);
	/* grid-template-columns: repeat(3, 1fr); */
	grid-template-columns: 300px auto 300px;
	/* text-align: center; */
}

.card {
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
	transition: 0.3s;
	width: 120px;
	/* border-radius: 5px; */
	display: flex;
	justify-content: space-between;
	/* this will add equal space between each image */
}

#draw_card {
	display: flex;
	overflow-x: auto;
	margin: 1rem 0;
	max-width: calc(100vw - 2rem);
}

#draw_card img {
	flex: 0 1 auto;
	height: 150px;
	margin-right: 0.5rem;
	cursor: pointer;
}

#draw_card img:last-child {
	margin-right: 0;
}

.image-row {
	display: flex;
	justify-content: space-between;
	/* this will add equal space between each image */
}

.button {
	background-color: #000000;
	color: rgb(255, 255, 255);
	/* color: rgb(135, 135, 135); */
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

#btn_new_game {
	width: 225px;
}

#game-panel {
	margin: auto;
}

#player-table {
	border-collapse: collapse;
}

td {
	border-top: 2px solid brown;
	border-bottom: 2px solid brown;
	margin: 1em;
}

table {
	color: yellow;
	text-align: center;
	/* background: rgb(121, 31, 31); */
	width: 100%
}

#create-player {
	margin: 1em 0 1em 0;
	background: brown;
	color: yellow;
}

#bet {
	/* height: 45px; */
	line-height: 30px;
	width: 215px;
	padding: 5px;
	font-size: 20px;
	text-align: right;
}